In [ ]:
import os 
import pandas as pd
import numpy as np
!pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 6.7 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

os.chdir("/content/drive/MyDrive/Milan - Elena/Streaming/Nielsen Data [Viewership]")

Mounted at /content/drive

In [ ]:
ls

'Copy of concordance table_1.xlsx'
'Copy of concordance table.xlsx'
'Data Exploration [Milan] V1.ipynb'
 Match_1018.ipynb
 Nielsen_Ampere_Matching_Manually.gsheet
 Nielsen_Ampere_Matching_Manually.xlsx
 Nielsen_Count.ipynb
'Reach Data 2016 to 2020 (1).csv'
'Reach Data 2016 to 2020.csv'

In [ ]:
data_1 = pd.read_excel('Nielsen_Ampere_Matching_Manually.xlsx')

In [ ]:
data_1.drop(columns = 'Unnamed: 0')

,Nielsen Name,Nielsen Supername,Ampere Supername
0,2 BROKE GIRLS,2 BROKE GIRLS,NaN
1,2 BROKE GIRLS SPECIAL-7/4,2 BROKE GIRLS,NaN
2,2 BROKE GIRLS-ENC,2 BROKE GIRLS,NaN
3,2 BROKE GIRLS-SPECIAL,2 BROKE GIRLS,NaN
4,24: LEGACY,24: LEGACY,24: Legacy
...,...,...,...
1612,YOUNG SHELDON-SPECIAL,YOUNG SHELDON,NaN
1613,YOUNG SHELDON-THANKS-SPC,YOUNG SHELDON,NaN
1614,ZOEYS XTRAORD PLYLST,ZOEY'S EXTRAORDINARY PLAYLIST,ZOEY'S EXTRAORDINARY PLAYLIST
1615,ZOEYS XTRAORD PLYLST 2/16,ZOEY'S EXTRAORDINARY PLAYLIST,ZOEY'S EXTRAORDINARY PLAYLIST
1616,ZOO,ZOO,ZOO

In [ ]:
data_1['Nielsen Supername'] = data_1['Nielsen Supername'].str.lower()

In [ ]:
data_1

,Unnamed: 0,Nielsen Name,Nielsen Supername,Ampere Supername
0,0.0,2 BROKE GIRLS,2 broke girls,NaN
1,2.0,2 BROKE GIRLS SPECIAL-7/4,2 broke girls,NaN
2,3.0,2 BROKE GIRLS-ENC,2 broke girls,NaN
3,4.0,2 BROKE GIRLS-SPECIAL,2 broke girls,NaN
4,5.0,24: LEGACY,24: legacy,24: Legacy
...,...,...,...,...
1612,1884.0,YOUNG SHELDON-SPECIAL,young sheldon,NaN
1613,1885.0,YOUNG SHELDON-THANKS-SPC,young sheldon,NaN
1614,1886.0,ZOEYS XTRAORD PLYLST,zoey's extraordinary playlist,ZOEY'S EXTRAORDINARY PLAYLIST
1615,1887.0,ZOEYS XTRAORD PLYLST 2/16,zoey's extraordinary playlist,ZOEY'S EXTRAORDINARY PLAYLIST
1616,1888.0,ZOO,zoo,ZOO

In [ ]:
data_1['Supername'] = data_1['Nielsen Supername']

In [ ]:
data_1

,Unnamed: 0,Nielsen Name,Nielsen Supername,Ampere Supername,Supername
0,0.0,2 BROKE GIRLS,2 broke girls,NaN,2 broke girls
1,2.0,2 BROKE GIRLS SPECIAL-7/4,2 broke girls,NaN,2 broke girls
2,3.0,2 BROKE GIRLS-ENC,2 broke girls,NaN,2 broke girls
3,4.0,2 BROKE GIRLS-SPECIAL,2 broke girls,NaN,2 broke girls
4,5.0,24: LEGACY,24: legacy,24: Legacy,24: legacy
...,...,...,...,...,...
1612,1884.0,YOUNG SHELDON-SPECIAL,young sheldon,NaN,young sheldon
1613,1885.0,YOUNG SHELDON-THANKS-SPC,young sheldon,NaN,young sheldon
1614,1886.0,ZOEYS XTRAORD PLYLST,zoey's extraordinary playlist,ZOEY'S EXTRAORDINARY PLAYLIST,zoey's extraordinary playlist
1615,1887.0,ZOEYS XTRAORD PLYLST 2/16,zoey's extraordinary playlist,ZOEY'S EXTRAORDINARY PLAYLIST,zoey's extraordinary playlist
1616,1888.0,ZOO,zoo,ZOO,zoo

In [ ]:
data_2 = pd.read_excel('Nielsen_Ampere_Matching_Manually.xlsx', sheet_name = 'Ampere_Hulu_Nielsen')

In [ ]:
data_2.drop(columns = 'Unnamed: 0')

         Ampere Name Ampere Supername      Tags
0           02:22:00         02:22:00       NaN
1           08:46:00         08:46:00       NaN
2           11:55:00         11:55:00       NaN
3               31.0             31.0       NaN
4             1408.0           1408.0       NaN
...              ...              ...       ...
19343    Zoom (2006)      Zoom (2006)       NaN
19344    Zorns Lemma      Zorns Lemma       NaN
19345  Zou: Season 1              Zou  Season 1
19346  Zou: Season 2              Zou  Season 2
19347     Zwei Leben       Zwei Leben       NaN

[19348 rows x 3 columns]

In [ ]:
data_2['Supername'] = data_2['Ampere Supername'].str.lower()

In [ ]:
data_2

       Unnamed: 0    Ampere Name Ampere Supername      Tags    Supername
0             0.0       02:22:00         02:22:00       NaN          NaN
1             1.0       08:46:00         08:46:00       NaN          NaN
2             2.0       11:55:00         11:55:00       NaN          NaN
3             3.0           31.0             31.0       NaN          NaN
4             4.0         1408.0           1408.0       NaN          NaN
...           ...            ...              ...       ...          ...
19343    327163.0    Zoom (2006)      Zoom (2006)       NaN  zoom (2006)
19344    327220.0    Zorns Lemma      Zorns Lemma       NaN  zorns lemma
19345    327224.0  Zou: Season 1              Zou  Season 1          zou
19346    327242.0  Zou: Season 2              Zou  Season 2          zou
19347    327287.0     Zwei Leben       Zwei Leben       NaN   zwei leben

[19348 rows x 5 columns]

In [ ]:
merge = data_1.merge(data_2, how = 'inner', on = 'Supername')

In [ ]:
merge.drop(columns = ['Unnamed: 0_x', 'Unnamed: 0_y'])

,Nielsen Name,Nielsen Supername,Ampere Supername_x,Supername,Ampere Name,Ampere Supername_y,Tags
0,24: LEGACY,24: legacy,24: Legacy,24: legacy,24: Legacy: Season 1,24: Legacy,Season 1
1,24: LEGACY-SAT,24: legacy,24: Legacy,24: legacy,24: Legacy: Season 1,24: Legacy,Season 1
2,24: LEGACY-SP 2/11 9P,24: legacy,24: Legacy,24: legacy,24: Legacy: Season 1,24: Legacy,Season 1
3,911 ENCORE SP 6/11 8P,9-1-1,9-1-1,9-1-1,9-1-1: Season 1,9-1-1,Season 1
4,911 ENCORE SP 6/11 8P,9-1-1,9-1-1,9-1-1,9-1-1: Season 2,9-1-1,Season 2
...,...,...,...,...,...,...,...
4499,X-FILES-SP 2/16 9P,the x-files,THE X-FILES,the x-files,The X-files: Season 8,The X-files,Season 8
4500,X-FILES-SP 2/16 9P,the x-files,THE X-FILES,the x-files,The X-files: Season 9,The X-files,Season 9
4501,"YOU, ME & THE APOCALYPSE","you, me and the apocalypse","YOU, ME AND THE APOCALYPSE","you, me and the apocalypse","You, Me and the Apocalypse: Season 1","You, Me and the Apocalypse",Season 1
4502,ZOEYS XTRAORD PLYLST,zoey's extraordinary playlist,ZOEY'S EXTRAORDINARY PLAYLIST,zoey's extraordinary playlist,Zoey's Extraordinary Playlist: Season 1,Zoey's Extraordinary Playlist,Season 1
4503,ZOEYS XTRAORD PLYLST 2/16,zoey's extraordinary playlist,ZOEY'S EXTRAORDINARY PLAYLIST,zoey's extraordinary playlist,Zoey's Extraordinary Playlist: Season 1,Zoey's Extraordinary Playlist,Season 1

In [ ]:
merge.iloc[50:100, :]

,Unnamed: 0_x,Nielsen Name,Nielsen Supername,Ampere Supername_x,Supername,Unnamed: 0_y,Ampere Name,Ampere Supername_y,Tags
50,24.0,911-SP 2/15 9P,9-1-1,9-1-1,9-1-1,257.0,9-1-1: Season 3,9-1-1,Season 3
51,25.0,911-SP 2/22 9P,9-1-1,9-1-1,9-1-1,255.0,9-1-1: Season 1,9-1-1,Season 1
52,25.0,911-SP 2/22 9P,9-1-1,9-1-1,9-1-1,256.0,9-1-1: Season 2,9-1-1,Season 2
53,25.0,911-SP 2/22 9P,9-1-1,9-1-1,9-1-1,257.0,9-1-1: Season 3,9-1-1,Season 3
54,26.0,911-SP 5/25 8P,9-1-1,9-1-1,9-1-1,255.0,9-1-1: Season 1,9-1-1,Season 1
55,26.0,911-SP 5/25 8P,9-1-1,9-1-1,9-1-1,256.0,9-1-1: Season 2,9-1-1,Season 2
56,26.0,911-SP 5/25 8P,9-1-1,9-1-1,9-1-1,257.0,9-1-1: Season 3,9-1-1,Season 3
57,27.0,911-TUE ENCORE,9-1-1,9-1-1,9-1-1,255.0,9-1-1: Season 1,9-1-1,Season 1
58,27.0,911-TUE ENCORE,9-1-1,9-1-1,9-1-1,256.0,9-1-1: Season 2,9-1-1,Season 2
59,27.0,911-TUE ENCORE,9-1-1,9-1-1,9-1-1,257.0,9-1-1: Season 3,9-1-1,Season 3
60,28.0,911: LONE STAR,9-1-1: lone star,9-1-1: LONE STAR,9-1-1: lone star,254.0,9-1-1: Lone Star: Season 1,9-1-1: Lone Star,Season 1
61,29.0,911: LONE STAR-MON ENC,9-1-1: lone star,9-1-1: LONE STAR,9-1-1: lone star,254.0,9-1-1: Lone Star: Season 1,9-1-1: Lone Star,Season 1
62,30.0,911: LONE STAR-SP 1/22 8P,9-1-1: lone star,9-1-1: LONE STAR,9-1-1: lone star,254.0,9-1-1: Lone Star: Season 1,9-1-1: Lone Star,Season 1
63,31.0,911: LONE STAR-SP 1/22 9P,9-1-1: lone star,9-1-1: LONE STAR,9-1-1: lone star,254.0,9-1-1: Lone Star: Season 1,9-1-1: Lone Star,Season 1
64,32.0,911: LONE STAR-SP 5/25 9P,9-1-1: lone star,9-1-1: LONE STAR,9-1-1: lone star,254.0,9-1-1: Lone Star: Season 1,9-1-1: Lone Star,Season 1
65,35.0,A.P. BIO,a.p. bio,A.P. BIO,a.p. bio,542.0,A.P. Bio: Season 1,A.P. Bio,Season 1
66,35.0,A.P. BIO,a.p. bio,A.P. BIO,a.p. bio,543.0,A.P. Bio: Season 2,A.P. Bio,Season 2
67,37.0,A.P. BIO 3/1,a.p. bio,A.P. BIO,a.p. bio,542.0,A.P. Bio: Season 1,A.P. Bio,Season 1
68,37.0,A.P. BIO 3/1,a.p. bio,A.P. BIO,a.p. bio,543.0,A.P. Bio: Season 2,A.P. Bio,Season 2
69,38.0,A.P. BIO 5/30,a.p. bio,A.P. BIO,a.p. bio,542.0,A.P. Bio: Season 1,A.P. Bio,Season 1
70,38.0,A.P. BIO 5/30,a.p. bio,A.P. BIO,a.p. bio,543.0,A.P. Bio: Season 2,A.P. Bio,Season 2
71,39.0,A.P. BIO 6/13,a.p. bio,A.P. BIO,a.p. bio,542.0,A.P. Bio: Season 1,A.P. Bio,Season 1
72,39.0,A.P. BIO 6/13,a.p. bio,A.P. BIO,a.p. bio,543.0,A.P. Bio: Season 2,A.P. Bio,Season 2
73,40.0,ABBYS,abby's,ABBY'S,abby's,556.0,Abby's: Season 1,Abby's,Season 1
74,41.0,ABBYS 5/30,abby's,ABBY'S,abby's,556.0,Abby's: Season 1,Abby's,Season 1
75,47.0,"ALEX, INC.","alex, inc.","ALEX, INC.","alex, inc.",798.0,"Alex, Inc.: Season 1","Alex, Inc.",Season 1
76,49.0,"ALEX, INC. SP-4/17","alex, inc.","ALEX, INC.","alex, inc.",798.0,"Alex, Inc.: Season 1","Alex, Inc.",Season 1
77,50.0,"ALEX, INC. SP-4/25","alex, inc.","ALEX, INC.","alex, inc.",798.0,"Alex, Inc.: Season 1","Alex, Inc.",Season 1
78,61.0,ALMOST FAMILY,almost family,ALMOST FAMILY,almost family,934.0,Almost Family: Season 1,Almost Family,Season 1
79,63.0,ALMOST FAMILY-11/28 9P,almost family,ALMOST FAMILY,almost family,934.0,Almost Family: Season 1,Almost Family,Season 1
80,64.0,ALMOST FAMILY-SP 2/22 8P,almost family,ALMOST FAMILY,almost family,934.0,Almost Family: Season 1,Almost Family,Season 1
81,65.0,ALMOST FAMILY-SP 2/22 9P,almost family,ALMOST FAMILY,almost family,934.0,Almost Family: Season 1,Almost Family,Season 1
82,66.0,ALMOST FAMILY-TKG EVE 9P,almost family,ALMOST FAMILY,almost family,934.0,Almost Family: Season 1,Almost Family,Season 1
83,71.0,AMER FUNN HM VIDEOS 1-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1016.0,America's Funniest Home Videos: Season 26,America's Funniest Home Videos,Season 26
84,71.0,AMER FUNN HM VIDEOS 1-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1017.0,America's Funniest Home Videos: Season 27,America's Funniest Home Videos,Season 27
85,71.0,AMER FUNN HM VIDEOS 1-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1018.0,America's Funniest Home Videos: Season 28,America's Funniest Home Videos,Season 28
86,71.0,AMER FUNN HM VIDEOS 1-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1019.0,America's Funniest Home Videos: Season 29,America's Funniest Home Videos,Season 29
87,71.0,AMER FUNN HM VIDEOS 1-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1020.0,America's Funniest Home Videos: Season 30,America's Funniest Home Videos,Season 30
88,71.0,AMER FUNN HM VIDEOS 1-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1021.0,America's Funniest Home Videos: Season 31,America's Funniest Home Videos,Season 31
89,72.0,AMER FUNN HM VIDEOS 2-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1016.0,America's Funniest Home Videos: Season 26,America's Funniest Home Videos,Season 26
90,72.0,AMER FUNN HM VIDEOS 2-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1017.0,America's Funniest Home Videos: Season 27,America's Funniest Home Videos,Season 27
91,72.0,AMER FUNN HM VIDEOS 2-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1018.0,America's Funniest Home Videos: Season 28,America's Funniest Home Videos,Season 28
92,72.0,AMER FUNN HM VIDEOS 2-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1019.0,America's Funniest Home Videos: Season 29,America's Funniest Home Videos,Season 29
93,72.0,AMER FUNN HM VIDEOS 2-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1020.0,America's Funniest Home Videos: Season 30,America's Funniest Home Videos,Season 30
94,72.0,AMER FUNN HM VIDEOS 2-9/5,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1021.0,America's Funniest Home Videos: Season 31,America's Funniest Home Videos,Season 31
95,73.0,AMER FUNN HM VIDEOS SP 1,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1016.0,America's Funniest Home Videos: Season 26,America's Funniest Home Videos,Season 26
96,73.0,AMER FUNN HM VIDEOS SP 1,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1017.0,America's Funniest Home Videos: Season 27,America's Funniest Home Videos,Season 27
97,73.0,AMER FUNN HM VIDEOS SP 1,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1018.0,America's Funniest Home Videos: Season 28,America's Funniest Home Videos,Season 28
98,73.0,AMER FUNN HM VIDEOS SP 1,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1019.0,America's Funniest Home Videos: Season 29,America's Funniest Home Videos,Season 29
99,73.0,AMER FUNN HM VIDEOS SP 1,america's funniest home videos,AMERICA'S FUNNIEST HOME VIDEOS,america's funniest home videos,1020.0,America's Funniest Home Videos: Season 30,America's Funniest Home Videos,Season 30